---
---
<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-top">
        <a href="/" class="footer-logo" data-asset="2" data-asset-status="replaced">
          <img src="/images/logo-light.svg" alt="ATN" height="28" width="87" />
        </a>

        <ul class="footer-nav">
          <li><a href="/services">שירותים</a></li>
          <li><a href="/how-it-works">איך זה עובד</a></li>
          <li><a href="/about">אודות</a></li>
          <li><a href="/blog">בלוג</a></li>
          <li><a href="/contact">צור קשר</a></li>
        </ul>
      </div>

      <div class="footer-bottom">
        <div class="footer-contact">
          <a href="mailto:hello@atn.co.il">hello@atn.co.il</a>
          <span aria-hidden="true">|</span>
          <a href="tel:0501234567" class="ltr-number">050-1234567</a>
        </div>

        <ul class="footer-social">
          <li>
            <a href="#" aria-label="LinkedIn" data-asset="12" data-asset-status="replaced"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.8 15.76" fill="currentColor" aria-hidden="true" width="18" height="18"><path d="M1.9,0C.85,0,0,.85,0,1.9s.85,1.9,1.9,1.9,1.9-.85,1.9-1.9-.85-1.9-1.9-1.9Z"/><rect x=".26" y="5.23" width="3.28" height="10.53"/><path d="M11.87,4.97c-1.59,0-2.66.87-3.1,1.7h-.04v-1.44h-3.14v10.53h3.27v-5.21c0-1.37.26-2.7,1.96-2.7s1.7,1.57,1.7,2.79v5.12h3.27v-5.77c0-2.84-.61-5.02-3.92-5.02Z"/></svg></a>
          </li>
          <li>
            <a href="#" aria-label="Twitter/X" data-asset="13" data-asset-status="replaced"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.99 17.36" fill="currentColor" aria-hidden="true" width="18" height="18"><path d="M10.11,7.35L16.43,0h-1.5l-5.49,6.38L5.06,0H0l6.63,9.65L0,17.36h1.5l5.8-6.74,4.63,6.74h5.06l-6.88-10.01h0ZM14.93,16.28h-2.3l-4.58-6.55h0s-.67-.96-.67-.96L2.04,1.13h2.3l4.31,6.17.67.96,5.61,8.02Z"/></svg></a>
          </li>
          <li>
            <a href="#" aria-label="Instagram" data-asset="14" data-asset-status="replaced"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.44 21.44" fill="currentColor" aria-hidden="true" width="18" height="18"><path d="M16.4,3.83c-.69,0-1.26.56-1.26,1.26s.56,1.26,1.26,1.26,1.26-.56,1.26-1.26-.56-1.26-1.26-1.26Z"/><path d="M10.81,5.44c-2.91,0-5.28,2.37-5.28,5.28s2.37,5.28,5.28,5.28,5.28-2.37,5.28-5.28-2.37-5.28-5.28-5.28ZM10.81,14.1c-1.87,0-3.38-1.52-3.38-3.38s1.52-3.38,3.38-3.38,3.38,1.52,3.38,3.38-1.52,3.38-3.38,3.38Z"/><path d="M15,0H6.44C2.89,0,0,2.89,0,6.44v8.56c0,3.55,2.89,6.44,6.44,6.44h8.56c3.55,0,6.44-2.89,6.44-6.44V6.44c0-3.55-2.89-6.44-6.44-6.44ZM19.42,15c0,2.44-1.98,4.42-4.42,4.42H6.44c-2.44,0-4.42-1.98-4.42-4.42V6.44c0-2.44,1.98-4.42,4.42-4.42h8.56c2.44,0,4.42,1.98,4.42,4.42v8.56Z"/></svg></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
