---
---
<section class="solution-section">
  <div class="container">
    <div class="grid-2">
      <div class="solution-text">
        <h2>מה משתנה כאן</h2>
        <p>הדף לא רק מציג מידע<br />הוא יוצר אינטראקציה<br />המשתמש נכנס לתוך התהליך<br />ולא רק צופה בו מהצד</p>
      </div>

      <div class="solution-visual" aria-hidden="true">
        <div class="solution-diagram">
          <img src="/images/icon-user.svg"    alt="" class="diagram-img" width="345" height="125" loading="lazy" data-asset="8"  data-asset-status="replaced" />
          <img src="/images/icon-eye.svg"     alt="" class="diagram-img" width="345" height="125" loading="lazy" data-asset="9"  data-asset-status="replaced" />
          <img src="/images/icon-respond.svg" alt="" class="diagram-img" width="345" height="125" loading="lazy" data-asset="10" data-asset-status="replaced" />
          <img src="/images/icon-check.svg"   alt="" class="diagram-img" width="345" height="125" loading="lazy" data-asset="11" data-asset-status="replaced" />
        </div>
      </div>
    </div>
  </div>
</section>
